<div class="bg-cyan-900 text-cyan-200">
  <div class="container h-[80px] flex justify-center items-center m-auto">
    <% (1..5).each do |i| %>
      <span class="p-5">Item__<%=i%></span>
    <% end %>
  </div>
</div>
